<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <center>
            <form method="POST" action="/utente/birillo">
                <h3>REGISTER</h3>
                <label>Email</label>
                <input type="email" name="email"> <br>
                <label>Nickname</label>
                <input type="text" name="nickname"> <br>
                <label>Password</label>
                <input type="password" name="pwd"> <br>

                <input type="submit" value="Invia">
                <input type="reset" value="Reset">
            </form>
        </center>
    </div>
</body>
</html>